<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Add Employee</h2>
            <form method="post" action="/employees/add">
            <fieldset>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="firstName">First Name:</label>
                            <input class="form-control" id="firstName" name="firstName" type="text" >
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="lastName">Last Name:</label>
                            <input class="form-control" id="lastName" name="lastName" type="text" >
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input class="form-control" id="email" name="email" type="text">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="phone">PhoneNumber:</label>
                            <input class="form-control" id="phone" name="phone" type="text" >
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label for="salary">Salary:</label>
                        <input class="form-control" id="salary" name="salary" type="number">
                    </div>
                    <div class="col-md-3">
                        <label for="hiredate">Hire Date:</label>
                        <input class="form-control" id="hiredate" name="hiredate" value="{{data.date}}" readonly>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="departmentId">Department</label>
                            {{#if data.departments}}
                            <select class="form-control" name="departmentId" id="departmentId">
                                {{#each data.departments}}
                                <option value="{{0}}">{{1}}</option>
                                {{/each}}
                            </select>
                            {{else}}
                            <div>No Departments</div>
                            {{/if}}
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="managerId">Managers</label>
                            {{#if data.managers}}
                            <select class="form-control" name="managerId" id="managerId">
                                {{#each data.managers}}
                                <option value="{{0}}">{{1}}</option>
                                {{/each}}
                            </select>
                            {{else}}
                            <div>No Managers</div>
                            {{/if}}
                        </div>
                    </div>

                    
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="jobId">Jobs</label>
                            {{#if data.jobs}}
                            <select class="form-control" name="jobId" id="jobId">
                                {{#each data.jobs}}
                                <option value="{{0}}">{{1}}</option>
                                {{/each}}
                            </select>
                            {{else}}
                            <div>No Jobs</div>
                            {{/if}}
                        </div>
                    </div>


                </div>
                </fieldset>
                <input type="submit" class="btn btn-primary pull-right" value="Add Employee">
                <a type="cancel" href="/employees" class="btn btn-primary pull-left" value="Cancel"><h4>Cancel</h4></a>
            </form>
        </div>
    </div>
</div>