              <div class="row">
            <div class="col-md-12">
        
                <h2>Add Employee</h2>

                <br>
        
                <form method="post" action="/employees/add" abineguid="3BEDB88FD0374BEA86475B0DB1777DC7">
        
                    <fieldset>
                        <legend style="color: white;">Personal Information</legend>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="firstName">First Name:</label>
                                    <input class="form-control" id="firstName" name="firstName" type="text">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="last_name">Last Name:</label>
                                    <input class="form-control" id="lastName" name="lastName" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="email">Email:</label>
                                    <input class="form-control" id="email" name="email" type="email">
                                <div id="pwm-inline-icon-95642" class="pwm-field-icon" style="position: absolute !important; width: 18px !important; height: 18px !important; min-height: 0px !important; min-width: 0px !important; z-index: 2147483645 !important; box-shadow: none !important; box-sizing: content-box !important; background: none !important; border: none !important; padding: 0px !important; cursor: pointer !important; outline: none !important; margin-top: -26px; margin-left: 657.6px;"><svg style="display: inline-block !important; width: 16px !important; height: 16px !important; fill: rgb(230, 0, 23) !important; margin-top: 0.5px !important; position: absolute !important; top: 0px !important; left: 0px !important;" viewBox="0 0 40 64"><g><path d="m20,28.12a33.78,33.78 0 0 1 13.36,2.74a22.18,22.18 0 0 1 0.64,5.32c0,9.43 -5.66,17.81 -14,20.94c-8.34,-3.13 -14,-11.51 -14,-20.94a22.2,22.2 0 0 1 0.64,-5.32a33.78,33.78 0 0 1 13.36,-2.74m0,-28.12c-8.82,0 -14,7.36 -14,16.41l0,5.16c2,-1.2 2,-1.49 5,-2.08l0,-3.08c0,-6.21 2.9,-11.41 8.81,-11.41l0.19,0c6.6,0 9,4.77 9,11.41l0,3.08c3,0.58 3,0.88 5,2.08l0,-5.16c0,-9 -5.18,-16.41 -14,-16.41l0,0zm0,22c-6.39,0 -12.77,0.67 -18.47,4a31.6,31.6 0 0 0 -1.53,9.74c0,13.64 8.52,25 20,28.26c11.48,-3.27 20,-14.63 20,-28.26a31.66,31.66 0 0 0 -1.54,-9.77c-5.69,-3.3 -12.08,-4 -18.47,-4l0,0l0.01,0.03z"></path><path d="m21.23,39.5a2.81,2.81 0 0 0 1.77,-2.59a2.94,2.94 0 0 0 -3,-2.93a3,3 0 0 0 -3,3a2.66,2.66 0 0 0 1.77,2.48l-1.77,4.54l6,0l-1.77,-4.5z"></path></g></svg></div></div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="SSN">Social Security Num:</label>
                                    <input class="form-control" id="SSN" name="SSN" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="addressStreet">Address (Street):</label>
                                    <input class="form-control" id="addressStreet" name="addressStreet" type="text">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label for="addressCity">Address (City):</label>
                                <input class="form-control" id="addressCity" name="addressCity" type="text">
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="addressState">Address (State):</label>
                                    <input class="form-control" id="addressState" name="addressState" type="text">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="addressPostal">Address (Zip Code):</label>
                                    <input class="form-control" id="addressPostal" name="addressPostal" type="text">
                                </div>
                            </div>
                        </div>
        
        
                    </fieldset>
        
                    <fieldset>
                        <legend style="color: white;">Company Information</legend>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="isManager">Manager:</label>
                                    <input class="form-control" type="checkbox" name="isManager">
                                </div>
                            </div>
        
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="employeeManagerNum">Employee's Manager Number:</label>
                                    <input class="form-control" id="employeeManagerNum" name="employeeManagerNum" type="text">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Status:</label><br>
                                    <label class="checkbox-inline">
                                        <input type="radio" id="statusFT" name="status" value="Full Time"> Full Time
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="radio" id="statusFT" name="status" value="Part Time"> Part Time
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="department">Department</label>
                                        <select class="form-control" name="department" id="department">
                                            <option value="1">Creative Services</option>
                                            <option value="2">Product Development</option>
                                            <option value="3">Marketing</option>
                                            <option value="4">Strategic Planning</option>
                                            <option value="5">Accounting</option>
                                            <option value="6">Human Resources</option>
                                            <option value="7">Quality Analysis</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="hireDate">Hire Date</label>
                                    <input class="form-control" id="hireDate" name="hireDate" type="text">
                                </div>
                            </div>
                        </div>
        
                    </fieldset>
        
                    <hr>
        
                    <input type="submit" class="btn btn-primary pull-right" value="Add Employee"><br><br><br>
        
                </form>
            </div>
        </div>