<div class="row">
    <div class="col-md-12">
        <h2>Employees<a href="/employees/add" class="btn btn-success pull-right">Add New Employee</a></h2>
        <hr/>
        <div class="table-responsive">
            <table class="table ">
                <thead>
                    <tr>
                        <th>Employee ID</th>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>PhoneNumber</th>
                        <th>Hire Date</th>
                        <th>Job ID</th>
                        <th>Salary</th>
                        <th>Manager ID</th>
                        <th>Department ID</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each employees}}
                        <tr>
                            <td>{{0}}</td>                            
                            <td><a href="/employees/{{0}}">{{1}} {{2}}</a></td>
                            <td>{{3}}</td>
                            <td>{{4}}</td>
                            <td>{{5}}</td>
                            <td>{{6}}</td>
                            <td>{{7}}</td>
                            <td>{{9}}</td>
                            <td>{{10}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        {{#unless employees}}
            <div class="col-md-12 text-center">
                <strong>{{message}}</strong>
            </div>
        {{/unless}}
    </div>
</div>