
<div class="row">
    <div class="col-md-12"> {{#each employees}}
        <h1>Employee ID: {{0}}</h1>
        <form method="POST" action="/employee/update">
        <fieldset>
            <legend>Personal Information</legend>
            <input type="hidden" name="employee_id" value="{{0}}">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="firstName">First Name:</label>
                        <input class="form-control" id="firstName" name="firstName" type="text" value="{{1}}" readonly/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="lastName">Last Name:</label>
                        <input class="form-control" id="lastName" name="lastName" type="text" value="{{2}}" readonly/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input class="form-control" id="email" name="email" type="text" value="{{3}}" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="phone">Phone Number:</label>
                        <input class="form-control" id="phone" name="phone" type="text" value="{{4}}" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="hiredate">Hire Date:</label>
                        <input class="form-control" id="hiredate" name="hiredate" type="text" value="{{5}}" readonly/>
                    </div>
                </div>
                
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="job_id">Job ID:</label>
                        <input class="form-control" id="job_id" name="job_id" type="text" value="{{6}}" readonly/>
                    </div>
                </div>

               <div class="col-md-3">
                        <label for="salary">Salary:</label>
                        <input class="form-control" id="salary" name="salary" type="text" value="{{7}}">
                    </div>
                    <div class="col-md-3">
                        <label for="departmentId">Hire Date:</label>
                        <input class="form-control" id="departmentId" name="departmentId" type="text" value="{{10}}" readonly>
                    </div>
            </div>
            <div>
                <div class="col-md-3">
                        <label for="managerID">Hire Date:</label>
                        <input class="form-control" id="managerId" name="managerId" type="text" value="{{9}}" readonly>
                    </div>

            </div>
        <hr />
        <input type="submit" class="btn btn-primary pull-right" value="Update Employee" /><br /><br /><br />
        </form> {{/each}}
    </div>
</div>
