      <div class="row">
        <section class="main col-md-12">
          <article>
          <h2>Jay Ashishbhai Patel</h2>
          <h2>Parita Sunilbhai Thakkar</h2>
        </section>
      </div>