<div class="row">
    <div class="col-md-12">
        <h1>Jobs</h1>
            <a href="/jobs/add" class="btn btn-success pull-right">Add New Job</a>
        <hr/>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Job ID</th>
                        <th>Job Title</th>
                        <th>Minimum Salary</th>
                        <th>Maximum Salary</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each jobs}}
                    <tr>
                        <td><a href="/jobs/{{0}}">{{0}}</a></td>
                        <td>{{1}}</td>
                        <td>{{2}}</td>
                        <td>{{3}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>